/* html {
  height: 100%;
  width: 100%;   
} */

:root{
  box-sizing: border-box;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("f/PlusJakartaSans-Light.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "compagnon";
  src: url("f/Compagnon-Light.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans Medium";
  src: url("f/PlusJakartaSans-Medium.ttf") format("truetype");
  font-weight: 700;
  font-style: medium;
}




body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #FF5E30 0%, #D2FFA0 46.70%, #A5F79A 64.93%, #74EE93 84.38%);
}

#API {

  width: 100%;
  padding-left: 4vw;
  font-size: 4vw;
  padding-top: 3vw;
  font-family: "compagnon", "Gill Sans", Helvetica, Arial, "sans-serif";
  

}

.description {

  padding-left: 4vw;
  font-size: 2vw;
  letter-spacing: 1cap;
  font-family: "Plus Jakarta Sans Medium", "Gill Sans", Helvetica, Arial, "sans-serif";


}

.description_low {
  bottom: 0;
  text-align: center;
  padding-left: 4vw;
  font-size: 2vw;
  letter-spacing: 1cap;
  font-family: "Plus Jakarta Sans", "Gill Sans", Helvetica, Arial, "sans-serif";
}

.right {
  right: 0;
  text-align: right; 
}

.matrix li div {
  display: inline;
  text-align: center;
}

.description_high {
 
  text-align: center;
margin-top: 2vw;
  font-size: 2vw;
  letter-spacing: 1cap;
  font-family: "Plus Jakarta Sans", "Gill Sans", Helvetica, Arial, "sans-serif";
}

.matrix {
  padding-bottom: 4vw;
}

.matrix li {
  float: left;
  
}

.matrix li div {
  padding-left: 4vw;
  font-size: 2vw;
  text-decoration: none;
  letter-spacing: 1cap;
  font-family: "Plus Jakarta Sans", "Gill Sans", Helvetica, Arial, "sans-serif";
}

#foreground{
  position: fixed;
}

#canvas {
  margin: 0%;
  padding: 0%;
  position: fixed;
  cursor: crosshair;
}