/* html {
  height: 100%;
  width: 100%;   
} */

:root{
  box-sizing: border-box;
}

@font-face {
  font-family: "jakarta";
  src: url("f/PlusJakartaSans-Light.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "compagnon";
  src: url("f/Compagnon-Light.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "jakartaMedium";
  src: url("f/PlusJakartaSans-Medium.ttf") format("truetype");
  font-weight: 700;
  font-style: medium;
}




body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #FF5E30 0%, #D2FFA0 46.70%, #A5F79A 64.93%, #74EE93 84.38%);
}

#API {

  width: 100%;
  padding-left: 4vw;
  font-size: 16pt;
  padding-top: 3vw;
  font-family: "compagnon", "Gill Sans", Helvetica, Arial, "sans-serif";
  

}

.description {

  padding-left: 4vw;
  font-size: 12pt;
  letter-spacing: 1cap;
  font-family: "jakarta Medium", "Gill Sans", Helvetica, Arial, "sans-serif";


}

.description_low {
  bottom: 0;
  text-align: center;
 
}

.left {
  float:left;
  width: 50%;
  padding-left: 4vw;
  font-size: 12pt;
  letter-spacing: 1cap;
  font-family: "jakarta", "Gill Sans", Helvetica, Arial, "sans-serif";
}
.right {
  right: 0;
  text-align: right; 
  padding-right: 4vw;
  font-size: 12pt;
  letter-spacing: 1cap;
  font-family: "jakarta", "Gill Sans", Helvetica, Arial, "sans-serif";
}

.matrix {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.top, .bottom {
  text-align: center;
  font-size: 12pt;
  letter-spacing: 1cap;
  font-family: "jakarta", "Gill Sans", Helvetica, Arial, "sans-serif";
}


 
.rectangle_outside {

 width: 49%;
 height: 49%;
float: left;
margin: 0.5%;
}

.rectangle_inside {
  background-color: black;
  opacity: 0.1;

  width: 100%;
  height:100%;
}

.container {
  width: 100%;
  height: 100%;
  
}


#foreground{
  position: fixed;
  width: 96%;
  height: 100%;
  padding: 0 2%;
}

#canvas {
  margin: 0%;
  padding: 0%;
  position: fixed;
  cursor: crosshair;
  
}